<div class="login-wrapper">
  <div class="login">
    <div class="heading">Log into your Account</div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email"
               />
               <mat-error *ngIf="loginForm.get('email').hasError('email')">
                Please enter valid Email Id.
              </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password"
              />
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="button" type="submit">Login</button>
    </form>
  </div>
</div>
